@mixin headers {
  font-family: $primary-font;
  color: #fff;
  display: flex;
  justify-content: center;
}

@mixin physicalbuttons {
  box-shadow: 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $fourth-color;
  height: 40px;
  width: 40px;
  color: black;
}