@import "./scss/variables";
@import "./scss/mixins";

* {
  padding: 0;
  margin: 0;
}

body { 
  background-color: $secondary-color;
  color: $primary-color;
}

h1 { 
  @include headers();
  margin-top: 3vh;
}

h3 {
  @include headers();
  margin-bottom: 7vh;
}
.box {
  border: solid 5px black;
  margin: auto;
  height: 370px;
  width: 370px;
  margin-bottom: 25px;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;


  &__individualbox {
    border: solid 1.5px white;
    background-color: $fourth-color;
  }
}

.gamebuttons { 
  font-family: helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 30px;

}

.active {
  background-color: darkblue;
}

.gameover { 
  margin-top: 3vh;
}

.food {
  background-color: green
}

.bad {
  background-color: darkmagenta;
}

.snake { 
  background-color: rgb(49, 5, 5);
}

.physicalbtns {
  font-weight: bold;
  font-size: 20px;
  gap: 30px;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-areas: 
  "a a a"
  "b c d";

  #arrowup {
    @include physicalbuttons();
    grid-area: a;
    
  }

  #arrowleft {
    @include physicalbuttons();
    grid-area: b;
  }

  #arrowdown {
    @include physicalbuttons();
    grid-area: c;
  }

  #arrowright {
    @include physicalbuttons();
    grid-area: d;
  }
  
}

@media screen and (min-width: 950px) {
 .physicalbtns {
   display: none;
 }
}