* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #A8201A;
  color: #fff;
}

h1 {
  font-family: helvetica;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vh;
}

h3 {
  font-family: helvetica;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 7vh;
}

.box {
  border: solid 5px black;
  margin: auto;
  height: 370px;
  width: 370px;
  margin-bottom: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box__individualbox {
  border: solid 1.5px white;
  background-color: lightgray;
}

.gamebuttons {
  font-family: helvetica;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  gap: 30px;
}

.active {
  background-color: darkblue;
}

.gameover {
  margin-top: 3vh;
}

.food {
  background-color: green;
}

.bad {
  background-color: black;
}

.snake {
  background-color: #310505;
}

.physicalbtns {
  font-weight: bold;
  font-size: 20px;
  gap: 30px;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "a a a" "b c d";
}

.physicalbtns #arrowup {
  -webkit-box-shadow: 2px 2px;
          box-shadow: 2px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  height: 40px;
  width: 40px;
  color: black;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: a;
}

.physicalbtns #arrowleft {
  -webkit-box-shadow: 2px 2px;
          box-shadow: 2px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  height: 40px;
  width: 40px;
  color: black;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

.physicalbtns #arrowdown {
  -webkit-box-shadow: 2px 2px;
          box-shadow: 2px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  height: 40px;
  width: 40px;
  color: black;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: c;
}

.physicalbtns #arrowright {
  -webkit-box-shadow: 2px 2px;
          box-shadow: 2px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgray;
  height: 40px;
  width: 40px;
  color: black;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: d;
}

@media screen and (min-width: 950px) {
  .physicalbtns {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */